* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    background-color: #000000;
}

.header__container--1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-shadow: 0 0 2px inset white;
}

.header__container--1 img {
    width: 40%;
    height: auto;
}

.header__container--1 span {
    color: #FFFFFF;
}


#header__sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}