* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: #ccc;
}

header {
    background-color: transparent;
    transition: .5s;
}

.header__container--1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.header__container--1 img {
    width: 60%;
    height: auto;
    margin-left: 2rem;
    border-radius: 50%;
}

.sidebar__button {
    content: '';
    display: inline-block;
    background: transparent url("../../images/menu__icon.svg") no-repeat;
    background-size: contain;
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
    margin-top: 1rem;
    transition: 1.5s;
}

.sidebar__button--close {
    content: '';
    background: transparent url("../../images/menu__icon--close.svg") no-repeat;
    background-size: contain;
    transition: 1.5s;
    display: none;
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.hide__sidebar{
    width: 0;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    background-color: rgb(27, 28, 36);
    overflow-x: hidden;
    padding-top: 2rem;
    transition: .5s;
}

.header__container--2 {
    height: 100%;
    width: 100%; 
    z-index: 1; 
    position: relative;
    left: 0;
    background-color: rgb(27, 28, 36);
    overflow-x: hidden;
    padding-top: 2rem;
    transition: .5s;
}

.sidebar__input--container {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width:85%;
}

.sidebar__input--container::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: transparent url("../../images/lupa.svg") no-repeat;
    background-size: contain;
    height: 2rem;
    width: 2rem;
    top: 1rem;
    right: 1.2rem;
}

.sidebar__input--container input {
    width: 100%;
    height: 4.2rem;
    border-radius: 2.5rem;
    outline: none;
    border: .1px solid white;
    padding: 1rem 4rem 1rem 2rem;
    background-color: transparent;
    color: #FFFFFF;
}

.sidebar__input--container input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.sidebar__input--container div {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}


.sidebar__input--container button {
    display: inline-block;
    width: 12rem;
    height: 4rem;
    border: 1px solid transparent;
    outline: none;
    border-radius: 2.5rem;
}

#login__button {
    margin-right: 1.5rem;
    background-color: #FFFFFF
}

#sing__up--button{
    background-color: #d498e8;
    color: #FFFFFF;
}

.sidebar__menu {
    /* box-shadow: 0 0 2px inset white; */
    margin: 3rem;
}

.sidebar__menu ul {
    list-style: none;
}

.nav__menu--anchor{
    color: #FFFFFF;
    font-size: 1.6rem;
    text-decoration: none;
}

#home--anchor {
    display: inline-block;
    margin-bottom: 1.5rem;
}

hr {
    border: 0;
    height: .1px;
    background: #ccc;
}

#film--anchor {
    display: inline-block;
    margin-top: 1.5rem;
    position: relative;
}

#film--anchor::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: transparent url("../../images/down__arrow.svg") no-repeat;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
    top: .5rem;
    right: -2rem;
}

.film__nav {
    padding: 1.5rem;
    padding-left: 2rem;
    font-size: 1.3rem;
    color: #ccc;
    columns: 2;
    margin-bottom: 1.5rem;
    padding-bottom: 0;
}

.film__nav li{
    padding: .5rem;
}

#movies--anchor {
    display: inline-block;
    margin-top: 1.5rem;
    position: relative;
}

#movies--anchor::after{
    content: '';
    display: inline-block;
    position: absolute;
    background: transparent url("../../images/down__arrow.svg") no-repeat;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
    top: .5rem;
    right: -2rem;
}

.movies__nav {
    padding: 1.5rem;
    padding-left: 2rem;
    font-size: 1.3rem;
    color: #ccc;
    columns: 2;
    margin-bottom: 1.5rem;
    padding-bottom: 0;
}

.movies__nav li {
    padding: .5rem;
}

#show--anchor {
    display: inline-block;
    margin-top: 1.5rem;
}

