header {
	background: transparent
		linear-gradient(
			180deg,
			#121212 0%,
			#00000080 32%,
			#00000040 74%,
			#0000000d 100%
		)
		0% 0% no-repeat padding-box;
	display: flex;
	justify-content: space-between;
	height: 8.7rem;
	opacity: 1;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}

.header--logo {
	margin: 0 auto 0.4rem 1.2rem;
	height: 8.3rem;
	width: 8.4rem;
}

.header--avatar {
	margin: 1.9rem 1.9rem 1.3rem auto;
	width: 5.5rem;
}
