header {
	background: transparent
		linear-gradient(
			180deg,
			#121212 0%,
			#00000080 32%,
			#00000040 74%,
			#0000000d 100%
		)
		0% 0% no-repeat padding-box;
	display: flex;
	justify-content: space-between;
	height: 7rem;
	opacity: 1;
	position: fixed;
	transition: .3s;
	top: 0;
	z-index: 16;
	width: 100%;
}

.header.active{
	background-color: #121212;
}

.header--logo {
	margin: 0 auto 0.4rem 1.2rem;
	height: 7.3rem;
	width: 7.4rem;
}

.header--avatar {
	margin: 1.5rem 1.9rem 1.3rem auto;
	width: 4.3rem;
}
