@import '../include-sass/_include-media.scss';
@import './Header.scss';
@import './MainSection.scss';

.Home {
	margin: auto;
	height: 67.5rem;
	max-height: 67.5rem;
	// max-width: 37.5rem;
	position: relative;
	width: 100%;

	img {
		height: 100%;
		object-fit: cover;
		position: absolute;
		width: 100%;
	}
}

h1 {
	color: magenta;
	// @include media ("<=phone") {
	//   background-color: blue;
	// }
}
