.main__section--info {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 37.4rem;
	right: 5.3rem;
	bottom: 7.8rem;
	left: 2rem;
	height: 22.3rem;
	width: 30.2rem;

	h1 {
		color: #dddddd;
		display: inline-block;
		font-size: 2.4rem;
		letter-spacing: 0.72px;
		margin: 1.2rem 0.5rem 1.2rem 1.2rem;
		max-height: 7rem;
		overflow-y: scroll;
		opacity: 1;
		text-align: left;

		span {
			font-size: 1.4rem;
			border-radius: 0.8rem;
			background-color: #ffdd40;
			color: #121212;
			font-weight: bold;
			height: 1.9rem;
			margin-left: 1.3rem;
			padding: 0.1rem 1.1rem;
			width: 2.2rem;
		}
	}

	p {
		color: #dddddd;
		font-size: 1.4rem;
		height: 7.3rem;
		letter-spacing: 0.08rem;
		margin: 0 2.3rem 1.9rem 1.2rem;
		max-height: 7.3rem;
		overflow: scroll;
		width: 27.7rem;
	}

	button {
		background-color: #dddddd;
		border: 1px solid transparent;
		border-radius: 0.8rem;
		font-size: 1.8rem;
		font-weight: bold;
		margin: 0 auto auto 1.2rem;
		height: 4rem;
		width: 12rem;

		i {
			font-size: 1.8rem;
			margin-right: 1.8rem;
		}
	}
}
