.movie__info--poster {
	margin: auto;
	height: 67.5rem;
	max-height: 67.5rem;
	// max-width: 37.5rem;
	position: relative;
	width: 100%;

	img {
		height: 100%;
		object-fit: fill;
		position: absolute;
		width: 100%;
	}
}

.movie__info--about {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    margin: auto;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    width: 32.4rem;

    h1 {
        color: #DDDDDD;
        font-size: 2rem;
        text-align: center;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // border: 1px solid red;
        margin-top: 2rem;
        height: auto;
        width: auto;

        span {
            color: #DDDDDD;
            border-bottom: 1.5px solid #39b0e1;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.7rem;
            margin-bottom: 1.5rem;
		    height: 4.2rem;
            padding-left: 1rem;
            width: 32.4rem;
        }

        .rating--media {
            border-radius: 0.8rem;
			background-color: #ffdd40;
			color: #121212;
			font-weight: bold;
			font-size: 1.2rem;
			height: 1.9rem;
			margin-left: .5rem;
			padding: 0.1rem 1.1rem;
			width: 2.2rem;
        }
    }
    
    p {
        background: #FFFFFF0D 0% 0% no-repeat padding-box;
        border-radius: 8px;
        color: #DDDDDD;
        font-size: 1.4rem;
        height: 13.8rem;
        margin-top: 2rem;
        max-height: 13.8rem;
        letter-spacing: 0.08rem;
        padding: 1.9rem 1.4rem 2.4rem 1.3rem;
        max-width: 40rem;
        opacity: 1;
        width: 32.4rem;
        overflow: scroll;
    }
}

iframe {
    display: block;
    margin: auto;
    margin-top: 2.2rem;
    height: 23rem;
    max-width: 41.4rem;
    text-align: center;
    width: 100%;
}

.watchList__container {
    align-items: center;
    color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 40rem;
    padding-top: 1rem;
    width: 32.4rem;
    

    h3 {
        margin-bottom: 1.5rem;
    }

    i {
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
        color: rgb(228, 106, 106)
    }

    h4 {
        margin-bottom: 0;
    }
}

i {
    &:hover {
        cursor: pointer;
    }
}