.profile--container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80rem;
    margin: auto;
    margin-top: 10rem;
}

.profile__menu--anchor{
    background: #FFFFFF0D 0% 0% no-repeat padding-box;
    border-radius: 10px;
    color: #DDDDDD;
    font-size: 1.8rem;
    height: 5.4rem;
    line-height: 5.4rem;
    margin-top: 4rem;
    opacity: 1;
    outline: none;

    text-align: center;
    width: 20.1rem;
}

.profile__menu--item{
    margin-left: 1rem;
}

.profile--signout {
    color: #121212;
    border: .1rem solid transparent;
    border-radius: 2.5rem;
    background-color: #EEEEEE;
    font-size: 1.4rem;
    font-weight: 600;
    height: 5rem;
    line-height: 5rem;
    margin-top: 12rem;
    outline: none;
    text-align: center;
    text-decoration: none;
    width: 15rem;
}