.search__form {
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 2.5rem;
    display: flex;
    font-size: 1.1rem;
    height: 4.2rem;
    justify-content: space-between;
    margin: auto;
    margin-top: 10rem;
    max-width: 34rem;
    opacity: 1;
    width: 34rem;

    input {
        background-color: transparent;
        border: 1px solid transparent;
        font-size: 1.6rem;
        color: #DDDDDD;
        height: 3.5rem;
        margin-left: 1.2rem;
        outline: none;
        width: 88%;

        &::placeholder {
            opacity: .7;
        }
    }

    button {
        border: 1px solid transparent;
        background-color: transparent;
        color: #DDDDDD;
        font-size: 1.4rem;
        height: 4rem;
        margin-right: .5rem;
        margin-left: .5rem;
        outline: none;
        width: 4.2rem;
    }
}

.search__container {
    background: #FFFFFF0D 0% 0% no-repeat padding-box;
    border-radius: 15px;
    height: auto;
    max-width: 34rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 10rem;
    opacity: 1;
    width: 34rem;
}