.shows--container {
	color: #dddddd;
	height: 44rem;
}

.show--info {
	background: #ffffff0d 0% 0% no-repeat padding-box;
	border-radius: 1rem;
	display: grid;
	margin: auto;
	height: 36.1rem;
	opacity: 1;
	width: 33.4rem;

	img {
		border-radius: 0.8rem;
		height: 29.3rem;
		object-fit: cover;
		width: 15.6rem;
	}

	h3 {
		font-size: 2rem;
	}

	span {
		border-bottom: 1.5px solid #39b0e1;
		font-size: 1.4rem;
		height: 2.9rem;
		width: 14.6rem;
	}
}
