.shows--container {
	color: #dddddd;
	height: auto;
	margin: auto;
	margin-bottom: 15rem;
	width: 100%;
}

.show--info {
	background: #ffffff0d 0% 0% no-repeat padding-box;
	border-radius: 1rem;
	display: flex;
	justify-content: space-evenly;;
	margin: 0;
	height: 40rem;
	padding-bottom: 5rem;
	opacity: 1;
	width: 100%;

	span {
		border-bottom: 1.5px solid #39b0e1;
		font-size: 1.4rem;
		height: 2.9rem;
		width: 14.6rem;
	}
}

.show__info--left {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 15.75rem;

	a {
		margin-top: 1.5rem;
		width: 17.75rem;
	}

	img {
		border-radius: 0.8rem;
		height: 29.3rem;
		object-fit: cover;
		width: inherit;
	}

	h3 {
		font-size: 1.4rem;
		margin-top: 1.5rem;
		margin-bottom: 1rem;
	}
}

.show__info--right {
	// border: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 3rem;
	padding-left: .5rem;
	width: 15rem;

	span {
		display: inline-block;
		font-size: 1.2rem;
		line-height: 1.8rem;
		height: 4rem;
		margin-bottom: 2rem;
		overflow: hidden;
	}
}

.rating {
	border-radius: 0.8rem;
	background-color: #ffdd40;
	color: #121212;
	font-weight: bold;
	font-size: 1.2rem;
	height: 1.9rem;
	margin-left: .5rem;
	padding: 0.1rem 1.1rem;
	width: 2.2rem;
}

.carousel-control-prev, .carousel-control-next {
		width: 7%;
		margin: 0;
		padding: 0;
	}

.carousel--grid--indicator {
	bottom: .5rem;
}