.title {
	background: #ffffff0d 0% 0% no-repeat padding-box;
	border-radius: 8px;
	box-shadow: 0px 3px 6px #ffffff29;
	height: 8rem;
	margin: 3.6rem 1rem 4.5rem 1rem;
	text-align: left;

	h2 {
		color: #dddddd;
		font-size: 2rem;
		padding-top: 2.7rem;
		padding-left: 2rem;
	}
}
