@import "./include-sass/_include-media.scss";
@import "./styles//Header.scss";

html, body {
  background-color: #282c34;
  box-sizing: border-box;
  font-size: 62.5%; 
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
  max-width: 37.5rem;
  width: 37.5rem;
}

.app__section--info {
  border: 1px solid white;
  margin: 37.4rem 5.3rem 7.8rem 2rem;
  height: 22.3rem;
  width: 30.2rem;
}

h1 {

  color: magenta;
  // @include media ("<=phone") {
  //   background-color: blue;
  // }

}
